.exercise-item {
    position: relative;
    height: auto;
    padding: 1rem 1rem .7rem 1rem; 
    border: 1px solid #9DF3C4; /* Border ? */
    border-radius: 20px;
    margin-bottom: .5rem;
    margin-left: 1rem;
    background-color: #9DF3C4;
    font-weight: 'bolder';
}

.exText {
    margin-left:30px;
    font-weight: normal;
  }
  
  .exTime {
    position: absolute;
    right: 30px;
    bottom: 10px;
  }
  
