.exercise-full {
    width: 70%;
    background-color: #9DF3C4;
    height: 80vh;
    border-radius: 20px;
    margin: 0 .5rem;
    padding: 1rem;
    position: relative;
}

.exercise-full__p {
    font-size: large;
}

.exercise-full__button-group {
    display: flex;
    justify-content : center;
    align-items: center;
    padding: 0rem 1rem;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.exercise-full__button-wrapper{
    width:33%;
    display: inline-block;
}

/* .exercise-full__button-group div div, button {
    display: block;
    margin: auto;
} */

.exercise-full__button{
    border: none;
    display: block;
    margin: auto;
    background-color: transparent;
}
